.title-img {
    width: 100%;
    max-width: 375px;
}

.title {
    font-size: 21px;
    font-weight: bolder;
    margin: 0 auto;
    width: 325px;
    margin-bottom: 16px;
}
.content-img {
    width: 100%;
    margin: 16px auto;
    max-width: 900px;
}

.content {
    font-size: 18px;
    width: 325px;
    margin: 0 auto;
}
.go-text {
    margin: 64px auto;
}
.go-btn {
    width: 100px;
    border-radius: 4px;
    background-color: red;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    line-height: 35px;
    height: 35px;
    margin: 32px auto;
    text-decoration: none;
}
.footer-content {
    margin-top: auto;
    text-align: center;
    font-size: 18px;
    width: 325px;
}
.footer {
    color: white;
    padding-bottom: 16px;
    cursor: pointer;
    text-decoration: none;
}

@supports (bottom: env(safe-area-inset-bottom)) {
    body {
        padding-bottom: env(safe-area-inset-bottom) !important;
    }
}
@media screen and (max-width: 480px) {
    .content-img {
        width: 100%;
        max-width: 350px;
    }
    .go-btn {
        display: none;
    }
}
@media screen and (min-width: 480px) {
    .go-text {
        display: none;
    }
}
